.Texto {
    color: aliceblue;
}

.Form {
    margin: 2rem auto;
    width: 30rem;
    background-color: #1e2a33;
    border-radius: 32px;
    padding: 2rem;
}

.Campo {
    background-color: #a0a7ac;
    min-height: 25px;
    min-width: 100px;
    border: none;
    border-radius: 64px;
}

.Select {
    background-color: #a0a7ac;
    min-height: 25px;
    min-width: 150px;
    border: none;
    border-radius: 64px;
}

.Area {
    background-color: #a0a7ac;
    min-height: 100px;
    min-width: 300px;
    border: none;
    border-radius: 12px;
}

.Boton {
    color: #000000;
    background-color: #8c8c8c;
    cursor: pointer;
    font: inherit;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 64px;
}

.BotonClickable {
    color: aliceblue;
    background-color: #420492;
    cursor: pointer;
    font: inherit;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 64px;
}